h1 {
  color: red;
  background-color: green;

}

li{
  color: orange;
}

h2{
  color: indigo;
}

#topHeading {
background-color: yellow;
padding: 50px;
border: 1px soild blue;
}

.splashimage {
  background-image: url("../polarbear.jpg");
}
